name: Build and Test
on:
  pull_request:
    paths-ignore:
      - dist/*
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: npm install
        run: npm install
      
      - name: npm run build
        run: npm run build
      
      - name: npm run test
        run: npm run test || echo "Tests not yet implemented"
      
      - name: Commit and Push
        id: commit
        run: |
          git config --global user.email ${{ github.actor }}@users.noreply.github.com
          git config --global user.name "github-actions[bot]"
          git config --global --add safe.directory /__w/github-action-container-job/github-action-container-job
          
          if [ -z "$(git status --porcelain)" ]; then
            echo "changed=0">> $GITHUB_OUTPUT
            echo "No changes"
            exit 0
          fi
          
          echo "changed=1">> $GITHUB_OUTPUT
          git add -A
          git commit -m "Build Release"
          git push || echo "Push skipped (no permission or already up to date)"
